.root {
  display: flex;
  background-color: #7fffd4e0;
  height: 49px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6px;
  border-radius: 4px;
  position: fixed;
  right: 1px;
  left: 1px;
  padding: 0 23px;
}
