.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 40%);
  width: 247px;
  height: 335px;
  background-color: burlywood;
  padding: 12px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.containerImg {
  height: 137px;
  width: 130px;
}

.containerEdits {
  display: flex;
  width: 187px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subtitleReport {
  font-size: 15px;
  font-weight: initial;
  color: #0603b7;
  filter: drop-shadow(2px 1px 3px blue);
}
